language: scala

scala:
  - 2.10.4
  - 2.11.2

jdk:
  - oraclejdk7
  # Note: not currently testing on JDK 8 internally
  - oraclejdk8
  - openjdk7

before_script:
  # default $SBT_OPTS is irrelevant to sbt lancher
  - unset SBT_OPTS

script:
  - ./sbt ++$TRAVIS_SCALA_VERSION test
